  /* Inicio Reset */
 :root{
     --amarillo : #e6ae48;
     --negro : #393939; 
     --blanco : white; 
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p a{
    display: inline-flex;
}
a{
    text-decoration: none;
    color: var(--negro);
}
li{
    list-style-type: none;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong{
    font-size: inherit;
    font-weight: inherit;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
::selection{
    background-color: var(--amarillo);
    color: var(--blanco);
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    color: var(--negro);
    background-color: var(--blanco);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Fin reset */
.header{
    width:100%;
    background-color: var(--blanco);
    padding: 1.8em 0;

    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.5px;
    position: fixed;
    top: 0;
    left: 0;
}
.header .centrado{
    width:90%;
    margin: auto;

    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header .h1{
    max-width: 200px;

    font-size: 2em;
    color: var(--negro);
}
.header .fa-bars{
    display: none;
}
.header .nav{
    width: calc( 100% - 200px );

    font-size: .8em;
    color: var(--negro);
}
.header .ul{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
}
.header .li{
    margin: 0 0 0 4em;
}
.header .a{
    margin: 0 2em;
    transition: all .5s ease;
}
.header .a.aqui{
    color: var(--amarillo);
}
.header .a:hover{
    color: var(--amarillo);
}
/* Fin Cabecera */

/* Main */
.main{
    width: 100%;
}
.main .producto{
    width: 100%;
    min-height: 100vh;
  
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.main .centrado{
    width: 90%;
    max-width: 1100px;

    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;

    text-align: left;
}
.main .columna{
    width: calc( 90% / 2 );
}
.main .h2{
    color: var(--negro);
    font-size: 2.2em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.main .linea{
    width: 100%;
    max-width: 120px;
    min-height: 2px;
    background-color: var(--negro);
    margin: 2em 0;

    display: inline-flex;  
}
.main .p{
    /* background-color: lightcoral; */
    margin: 0 0 2.2em;
    line-height: 1.8em;
    color: var(--negro);   
}
.main .a{
    /* background-color: lightgreen; */
    padding: 1em 2em;
    border: 3px solid var(--amarillo);
    display: inline-flex;
    color: var(--amarillo);

    text-transform: uppercase;
    font-weight: 600;
    font-size: .7em;
    letter-spacing: 2px;

    transition: all .5s ease;
}
.main .a:hover{
    color: var(--blanco);
    background-color: var(--amarillo);
}
.main .amarillo{
    background-color: var(--amarillo);   
}
.main .centrado{
    flex-flow: row-reverse wrap;
    text-align: right;
}
.main .h2{
    color: var(--blanco);
}
.main .columna .linea{
    background-color: var(--blanco);   
}
.main .p{
    color: var(--blanco);
}
.main .a{
    color: var(--blanco);
    border-color: var(--blanco);
}
.main .a:hover {
    background-color: var(--blanco);
    color: var(--amarillo);
}
/* Fin Main */

/* Footer */

.footer{
    width:100%;
    min-height:100vh;
    background-color: var(--negro);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;

    text-align: center;
}
.footer .centrado{
    width: 90%;
    max-width: 1100px;
}
.footer .h3{
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--blanco);
}
.footer .copy{
    color: var(--amarillo);
    font-size: .8em;
    font-weight: 400;
}
.footer .linea{
    width: 100%;
    max-width: 115px;
    height: 2px;
    background-color: var(--blanco);
    margin: 2em auto 4em;
}
.footer .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.footer .li{
    margin: 0 .4em;
}
.footer .a{
    width: 25px;
    height: 25px;
    background-color: var(--blanco);

    border-radius: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;

    color: var(--negro);
}
.footer .a:hover{
    background: var(--amarillo);
}
.footer .a .fa-twitter{
    position: relative;
    top: 1px;
    left: 1px;
}
/* Fin Footer */

/* Inicio Media- Responsive */
@media screen and (max-width:915px){ 
    
    .header .centrado .nav{
        display: none;
    }
    .header .centrado .fa-bars{
        display: flex;
        margin: 0 2em;
    }
    .main .producto{
        padding: 15vh 0;
    }
    .main .producto .centrado{
        justify-content: center;
    }
    .main .producto .centrado .columna{
        width: 80%;     
    }
    .main .centrado .columna .img {
        margin: 2em 0 2em;
    }
}
/* Fin media */

/* Media para dark mode que no funciona */
/* @media screen and (prefers-color-scheme:dark){ */
    /* :root{ */
        /* --amarillo : #e6ae48; */
        /* --negro : white; */
        /* --blanco : black; */
    /* } */
/* } */
